html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.none {
  display: none;
}

body {
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  background-image: url(../images/header_bg.jpg);
  width: 100%;
  min-height: 786px;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 20px;
}

.nav {
  display: inline-block;
  float: right;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.dDMenu_icon {
  display: none;
}

.row {
  width: 30px;
  /*height: 5px;*/
  margin-top: 5px;
  border: solid 1px grey;
  background-color: grey;
}

.nav_item {
  margin-left: 30px;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link {
  color: #c4c4c4;
  text-decoration: none;
}

.wts {
  text-align: center;
  margin-top: 260px;
}

.main__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.undertitle__text {
  font-size: 20px;
  margin-bottom: 30px;
  color: #fff;
}

.get__started {
  width: 175px;
  height: 45px;
  border: 2px solid #fff;
  border-radius: 6px;
  border-color: #fff;
  color: #fff;
  padding: 0 10px;
  background: transparent;
}

.get__started:focus {
  outline: none;
}

.get__started:hover {
  cursor: pointer;
}

.services {
  max-width: 1140px;
  margin: 0 auto;
  color: #8b8b8b;
}

.serv__title {
  font-weight: 600;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.line {
  width: 50px;
  border-bottom: 1px solid #000;
  margin: 0 auto 15px;
}

.services__undertitle_text {
  text-align: center;
  text-align: center;
  margin-bottom: 70px;
  font-size: 20px;
  font-weight: bold;
}

.reason__text {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  text-align: center;
  margin-bottom: 70px;
  font-size: 20px;
  font-weight: bold;
}

.services__iner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.resons__container {
  max-width: 350px;
  text-align: center;
  padding: 0 10px;
}

.reson_img {
  margin-bottom: 30px;
}

.reason__title {
  margin-bottom: 25px;
  font-size: 16px;
}

.reason__text {
  font-size: 14px;
}

.auc_bg {
  height: 850px;
  width: 100%;
  background-color: #f8f8f8;
}

.auc {
  max-width: 1140px;
  height: 850px;
  background-color: #f8f8f8;
  margin: 0 auto;
}

.auc__title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  padding-top: 100px;
}

.line {
  width: 50px;
  border-bottom: 1px solid #000;
  margin: 0 auto 15px;
}

.auc__underline-text {
  text-align: center;
  margin-bottom: 70px;
  font-size: 20px;
  font-weight: bold;
}

.auc_infos {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.auc_info {
  text-align: center;
  margin-bottom: 70px;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 10px 10px 15px;
  text-align: left !important;
}

.slider {
  max-width: 1140px;
}

.slide_top {
  min-width: 260px !important;
  height: 325px !important;
  position: relative;
  text-align: center;
}

.slide__text {
  padding: 15px 0;
}

.sli {
  width: 260px;
  height: 260px;
  object-fit: cover;
  position: absolute;
}

.img__container {
  width: 260px;
  height: 260px;
  margin: 0 auto;
}

.slick-arrow {
  position: absolute;
  top: 110px;
  z-index: 10;
  font-size: 0;
  background-color: #c0301c;
  outline: none;
  border: none;
}

.slick-arrow:active, .slick-arrow:focus {
  outline: none;
}

.slick-arrow.slick-prev {
  left: 0;
  background-image: url(../images/prev-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 11;
  height: 40px;
  width: 35px;
}

.slick-arrow.slick-next {
  right: 0;
  background-image: url(../images/next-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 11;
  height: 40px;
  width: 35px;
}

.social {
  width: 260px !important;
  height: 260px;
  position: relative;
  opacity: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
}

.social:hover {
  opacity: 0.8;
}

.soc__net_link {
  width: 25px;
  height: 25px;
  margin-top: 195px;
  background-color: transparent;
  margin-right: 10px;
}

.soc__net_link:hover {
  background-color: #c0301c;
}

.soc__net {
  margin: 0 auto;
  padding-top: 20%;
}

.showing_works {
  max-width: 1140px;
  box-sizing: border-box;
}

.works {
  display: block;
  max-width: 1140px;
  margin: 0 auto;
  color: #8b8b8b;
}

.works__title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 70px;
}

.works__nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.works__nav-link {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  color: #8b8b8b;
  margin-bottom: 5px;
  text-decoration: none;
}

.works__nav-link:hover {
  color: #c0301c;
}

.works__container_main {
  max-width: 1140px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.work_container {
  padding: 0 10px 0;
}

.work {
  max-width: 350px;
  height: 350px;
  object-fit: cover;
  position: absolute;
}

.view {
  color: #fff;
  text-align: center;
  width: 350px;
  height: 350px;
  position: relative;
  opacity: 0;
  background-color: rgba(192, 48, 28, 0.8);
}

.view:hover {
  transition-duration: 0.5s;
  opacity: 1;
}

.view__title {
  padding-top: 140px;
  padding-bottom: 10px;
}

.view__undertitle {
  padding-bottom: 10px;
}

.view_btn {
  display: block;
  width: 90px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
  background-color: #fff;
  color: #c0301c;
  text-decoration: none;
}

.view_btn:hover {
  text-decoration: underline;
}

.worklike {
  width: 100%;
  height: 356px;
  background-image: url(../images/worklike_bg.jpg);
  background-repeat: no-repeat;
  background-position: 0% 68%;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  text-align: center;
}

.worklike:after {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 20;
  position: absolute;
  background-color: rgba(192, 48, 28, 0.8);
}

.worklike__inner {
  position: relative;
  z-index: 21;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.worklike__title {
  color: #fff;
  font-size: 30px;
  line-height: 42px;
  padding: 125px 0px 25px;
  display: inline-block;
}

.worklike_btn {
  font-size: 16px;
  width: 175px;
  height: 45px;
  border: 2px solid #fff;
  border-radius: 6px;
  border-color: #fff;
  color: #fff;
  padding: 0 10px;
  background: transparent;
  cursor: pointer;
  margin: 0 auto;
}

.worklike_btn:focus {
  outline: none;
}

.worklike_btn:hover {
  cursor: ponter;
}

.recent {
  max-width: 1140px;
  margin: 0 auto;
  color: #8b8b8b;
  margin-top: 100px;
}

.works__title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.line {
  width: 50px;
  border-bottom: 1px solid #000;
  margin: 0 auto 15px;
}

.recent__underline-text {
  text-align: center;
  margin-bottom: 70px;
  font-size: 20px;
  font-weight: bold;
}

.blog_block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.blog__link {
  text-decoration: none;
  color: #c0301c;
}

.blog__link:hover {
  text-decoration: underline;
}

.blog__img {
  width: 460px;
  height: 320px;
  object-fit: cover;
}

.blog__info {
  padding: 0 10px;
  margin-left: 20px;
}

.inner__title {
  display: flex;
  justify-content: flex-start;
}

.date__container {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 0px;
  border: solid #000 2px;
}

.date {
  margin-top: 14px;
  box-sizing: content-box;
}

p.date > span {
  font-weight: bold;
}

.inner__container {
  margin-left: 20px;
  float: left;
  display: flex;
  flex-direction: column;
  height: 60px;
  padding-top: 5px;
  line-height: 25px;
}

.blog__title {
  display: inline-block;
  text-transform: uppercase;
}

.blog__author {
  display: inline-block;
  font-style: italic;
}

.blog__text {
  margin-top: 25px;
  line-height: 20px;
  flex-wrap: wrap;
}

.blog__btn {
  display: inline-block;
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.footer {
  margin-top: 70px;
}

.preslider__bg {
  width: 100%;
  background-color: #f8f8f8;
  height: 470px;
}

.preslider {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 160px;
}

.ggg {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.partners {
  max-width: 1140px;
  display: flex;
  justify-content: center;
}

.img__container_preslide {
  box-sizing: content-box;
  height: 49px;
  margin: 0 20px 0;
  display: flex;
  align-items: center;
}

.excerption {
  width: 660px;
  margin: 30px auto 20px;
  text-align: center;
  font-size: 18px;
  font-style: italic;
}

.excerption__author {
  text-align: center;
  width: 100%;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.slick-dots li.slick-active button {
  background-color: #c0301c;
}

.slick-dots li button {
  background-color: #8b8b8b;
  border-radius: 50%;
  border: none;
  font-size: 0;
  width: 15px;
  height: 15px;
}

.touch {
  padding: 0 10px;
  max-width: 1140px;
  margin: 0 auto;
  color: #8b8b8b;
}

.touch__title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.line {
  width: 50px;
  border-bottom: 1px solid #000;
  margin: 0 auto 15px;
}

.touch__undertitle_text {
  text-align: center;
  margin-bottom: 70px;
  font-size: 20px;
  font-weight: bold;
}

.touch__inner {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.touch__info {
  width: 270px;
  display: flex;
  flex-direction: column;
}

.touch__info_title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.touch__info_undertitle {
  font-weight: 500;
  padding-left: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}

.inputs {
  width: 738px;
}

.data__magazine {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.data {
  width: 48.61%;
  height: 45px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.data:first-of-type {
  margin-right: 20px;
}

.data::placeholder {
  padding-left: 10px;
}

.data:focus {
  outline: 1px solid #c0301c;
}

.message {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  padding: 10px 10px 0;
  resize: none;
  margin-bottom: 20px;
}

.message::placeholder {
  padding: 10px 10px 0;
  font-size: 16px;
  text-transform: uppercase;
}

.message:focus {
  outline: 1px solid #c0301c;
}

.send {
  width: 175px;
  height: 45px;
  border: 1px solid #000;
  color: #8b8b8b;
  text-transform: uppercase;
  padding: 0 10px;
  background: transparent;
}

.send:focus {
  outline: 1px solid #c0301c;
}

.send_warn {
  margin-left: 10px;
}

.send_warn:before {
  content: "*";
  color: red;
}

.send:hover {
  cursor: pointer;
}

.adress:before {
  content: url(../images/location-icon.png);
}

.hotline:before {
  content: url(../images/phone-icon.png);
}

.email:before {
  content: url(../images/mail-icon.png);
}

.footer {
  background-color: #c0301c;
  width: 100%;
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
}

.footer__inner {
  width: 270px;
  display: flex;
  flex-direction: column;
}

.footer__icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer__img_container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.footer__icon {
  max-width: inherit;
  object-fit: cover;
}

.footer .line {
  border-color: #fff;
}